.CartContainer {
  background: white;
  height: 86vh;
}

.CartContainer h1 {
  text-align: center;
}

.cartItem {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 20px;
  padding: 15px 5px;
  background: #f3f1f1;
  margin: 0 30px;
  border-radius: 8px;
  height: 150px;
  margin-bottom: 10px;
}

.cartItem img {
  width: 140px;
  object-fit: cover;
}

.quantity{
  display: flex;
  gap: 25px;
}

.quantity button{
  background: orange;
  border: none;
  border-radius: 50%;
  height: 30px;
  width: 25px;
  cursor: pointer;
  align-items: center;
}

.RemoveBtn{
  background: none;
  border: none;
  color: red;
  font-size: 1.4rem;
  font-weight: 700;
}

@media (max-width: 600px) {
  .cartItem p {
    font-size: 14px;
  }
  .cartItem {
    gap: 10px;
    justify-content: space-between;
    height: 110px;
  }
  .cartItem img{
    width: 100px;
  }
  .quantity{
    gap: 15px;
  }
}

@media (max-width: 470px) {
  .cartItem p {
    font-size: 12px;
  }
  .cartItem {
    gap: 5px;
    margin: 0 10px 10px 10px;
    padding: 10px 5px;
    height: 80px;
  }
  .cartItem img{
    width: 60px;
  }
  .quantity{
    gap: 5px;
  }
  .quantity button{
    height: 20px;
    width: 15px;
  }
}
